.banner{
    padding : 4%;
    display: flex;
    margin-top: max(90px,5.2vw) ;
    align-items: center;
   justify-content: center;
   flex-direction: column;
     gap: max(30px,1vw);
}
.title{
    font-size: max(30px,2.5vw);
}
.image-container{
    width: 60%;
    height: auto;
}
.image-container img{
    width: 100%;
}
.image-container{
    display: flex;
    flex-direction: column;
    gap: max(30px,2vw);
}
.fa-arrow-right{
    cursor: pointer;
    font-size: max(20px,1.5vw);
    filter: invert(1);
}
.typewriter-container p{
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

