.howitWorksSub{
    background-image: url("../assets/images/howItWorks.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: max(700px,43.4vw);
    background-position: center;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: max(80px,5vw);
}
.howitworks-sub-conatiner{
    width: 70%; 
    display: flex;
    flex-direction: column;
    gap: max(10px,1vw);
    align-items: center;
    justify-content: center;
}
.howitworks-sub-conatiner a{
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: max(10px,0.6vw);
}
.fa-arrow-right{
    font-size: max(15px,1vw) ;
   filter: invert(1) !important;
}
.howitworks-sub-conatiner h1{
   color: #ffffff;
   text-align: center;
}